<div class="contact">
  <p><i>Pho Nguyen</i></p>
  <div class="links">
    <a href="https://www.facebook.com/vanphoUEL" target="_blank" rel="noopener noreferrer">
      <i nz-icon nzType="facebook" nzTheme="outline"></i>
    </a>
    <a href="https://github.com/vanpho93" target="_blank" rel="noopener noreferrer">
      <i nz-icon nzType="github" nzTheme="outline"></i>
    </a>
    <a href="mailto:vanpho01@gmail.com" target="_blank" rel="noopener noreferrer">
      <i nz-icon nzType="mail" nzTheme="outline"></i>
    </a>
  </div>
</div>
